@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-text-color: white;
}

html, body {
    transition: all .5s;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

.slideContainer {
    padding: 50px 50px 0;
}

.mainBackground {
    background-image: url('./assets/backgroundCrop.png');
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondaryBackground {
    background-image: url('./assets/secondaryBackgroundCrop.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    color: black;
    transition: all .5s;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    min-height: 150px;
    font-size: 25pt;
}


.header span {
    display: inline;
    font-weight: bold;
    line-height: 1.5;
}

.secondaryBackground .header {
    text-align: center;
}

.textBlocks {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 17pt;
    line-height: 1.5;
    
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.secondaryBackground .textBlocks {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0;
    max-width: 47vw;
}

.secondaryBackground .textBlocks p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.textBlocks p.topMargin {
    margin-block-start: 50px;
}

.firstColl {
    width: 368px;
}

.secondColl {
    width: 600px;
}

.secondColl .row1 {
    width: 368px;
}

.firstColl, .row1 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row1 p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.row2 {
    width: 600px;
    opacity: .4;
    font-weight: 300;
    font-size: 13pt;
}

.withCodeSpacing {
    margin-top: 30px;
}

.withCodeSpacing:first-child {
    margin-top: 40px;
}

.subcommands {
    display: flex;
    flex-direction: column;
    margin-top: -1em;
}

.subcommandsLine {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.subcommandsHeader {
    min-width: 40px;
}


.filler {
    height: 1000px;
}

.slide2, .slide3 {
    padding-left: 200px;
    padding-left: 10vw;
}

.slide3 {
    padding: 200px 0 200px 10vw;
    height: 100vh;
}

.video {
    position: absolute;
    transition: all .5s;
}

.video iframe {
    width: 700px;
    height: 394px;
    position: relative;
    left: 300px;
    top: -100px;
    transition: all .5s;
}

.slide5 {
    padding-bottom: 200px;
}

.slide4 .textBlocks, .slide5 .textBlocks {
    font-weight: normal;
    font-family: 'Roboto Mono',  Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}


.slide4 .textBlocks p.topMargin {
    margin-top: 30px;
}

.textBlocks p.topMargin:first-child {
    margin-top: 0;
}

.crossedBackground {
    background-image: url('./assets/crossedBackgroundSmall.png');
    font-size: 17pt;
    padding: 40px 60px 40px 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
.afterCorssedPadding {
    padding: 0 60px;
}

.textBlocks .afterCorssedPadding p {
    margin-top: 30px;
}
.blackBackground {
    color: white;
}

.blackBackground span {
    display: inline;
    background-color: black;
    box-shadow: -5px 0 0 black, 5px 0 0 black;
}


.blueLink {
    color: #1717B0;
    cursor: pointer;
}

.robonomicsLogoContainer{
    display: flex;
    justify-content: flex-end;
}

.robonomicsLogo {
    width: 100px;
    margin: 50px 50px 0 0;
}

.wordBreakAll {
    word-break: break-all;
}

@media screen and (max-width: 1800px){
    .slide3 .video {
        left: 100px;
        transition: all .5s;
    }
}

@media screen and (max-width: 1650px) {
    .slide4 .textBlocks, .slide5 .textBlocks {
        width: auto;
        max-width: 60vw;
    }

    .slide3 .video {
        left: 0px;
    }
}


@media screen and (max-width: 1500px) {
    .slide4 .textBlocks, .slide5 .textBlocks {
        width: auto;
        max-width: 65vw;
    }
    .slide3 .video {
        /* position: relative; */
        left: -100px;
    }
    /* .slide3 { */
        /* padding-left: 0; */
    /* } */
}

@media screen and (max-width: 1300px) {
    .slide4 .textBlocks, .slide5 .textBlocks {
        width: auto;
        max-width: 70vw;
    }
    .slide3 .video {
        left: -200px;
        /* top: 50px; */

    }
    .slide3 .row2 {
        margin-top: 100px;
    }
}


@media (max-width: 1100px) {
    .slide4 .textBlocks, .slide5 .textBlocks {
        width: auto;
        max-width: 100vw;
    }
}

@media (max-width: 1150px) {
    .slide3 .video {
        left: 0;
        height: auto;
    }
    .slide3 .video iframe {
        left: 10vw;
        max-width: 80vw;
        transition: all .5s;
    }
    
}



@media screen and (max-width: 1000px) {
    .mainBackground.slide1 {
        height: auto;
    }
    .firstColl, .secondColl, .secondColl .row1 p {
        width: auto;
        max-width: 50%;
    }
    .slide1 .row1 {
        width: auto;
    }
    .slide1 .row1 p {
        max-width: 100%;
    }

    .slide1 .row2 {
        width: auto;
    }
    .slide2 {
        display: none;
    }

    @media screen and (max-width: 800px) {
        div.textBlocks {
            display: flex;
            flex-direction: column;
        }
        .firstColl, .secondColl, .secondColl .row1 p {
            width: auto;
            max-width: 100%;
        }
        .slide3 .row2 {
            width: auto;
        }
    }
}


@media (max-width: 550px) {
    .mainBackground.slide1 {
        height: auto;
    }
    div.textBlocks {
        display: flex;
        flex-direction: column;
    }
    .firstColl, .secondColl, .secondColl .row1 p {
        width: auto;
    }
    .slide1 .row1 {
        width: auto;
    }

    .slide1 .row2 {
        width: auto;
    }
    .slide2 {
        display: none;
    }
    .slide3 {
        padding: 200px 0;
        
    }
    .slide3 .row2 {
        width: auto;
        margin-left:  -40px;
        margin-top: -50px;
    }
    .slide5 {
        padding-bottom: 100px;
    }
    .afterCorssedPadding {
        padding: 0 30px;
    }
}



